{% extends "kits/template.html" %}

{% block cuerpo %}
    <p class="fw-bold text-center text-uppercase fs-5">Listado de kits</p>
    <table class="table table-hover">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Equipo</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Talles</th>
            <th>Imagen</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for kit in object_list %}
            <tr>
                <td>{{ kit.id }}</td>
                <td>{{ kit.name }}</td>
                <td>{{ kit.team.name }}</td>
                <td>{{ kit.description }}</td>
                <td>${{ kit.price }}</td>
                <td>{{ kit.size }}</td>
                <td><img id="image" src="{{ kit.picture }}" alt="No fue posible cargar la foto" class="rounded mx-auto d-block"></td>
                <td>{{ kit.category.name }}</td>
                <td>
                    <form method="POST" action="delete/{{kit.id}}">
                        {% csrf_token %}
                        <div class="btn-group" role="group">
                            <a href="edit/{{kit.id}}" title="Editar" type="button" class="btn btn-primary">Editar</a>
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                    </form>
                </td>    
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="create" type="button" class="btn btn-primary btn-lg me-md-2">Agregar</a>
    </div>

    <div class="mt-3">
    {%if messages %}
        {% for m in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{ m }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    <div>
    
{% endblock cuerpo %}