{% extends "kits/template.html" %}

{% block cuerpo %}
    <table class="table-auto border-collapse">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Equipo</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Talles</th>
            <th>Imagen</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for kit in object_list %}
            <tr>
                <td>{{ kit.id }}</td>
                <td>{{ kit.name }}</td>
                <td>{{ kit.team.name }}</td>
                <td>{{ kit.description }}</td>
                <td>{{ kit.price }}</td>
                <td>{{ kit.size }}</td>
                <td><img id="image" src="{{ kit.picture }}" alt="No fue posible cargar la foto"></td>
                <td>{{ kit.category.name }}</td>
                <td>
                    <form method="POST" action="delete/{{kit.id}}">
                        {% csrf_token %}
                        <div>
                            <a href="edit/{{kit.id}}" title="Editar" type="button">Editar</a>
                            <button onclick="return eliminar();" type="submit">Eliminar</button>
                        </div>
                    </form>
                </td>    
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="create" type="button">Agregar</a>

    {%if messages %}
        <ul>
            {% for m in messages %}
                <li>{{m}}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock cuerpo %}

<script type="text/javascript">
    function eliminar() {
        var x = confirm("¿Está seguro que quiere eliminar el producto?");
        if (x)
            return true;
        else
            return false;
    }
</script>