{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load crispy_forms_tags %}

{% load static %}
<!DOCTYPE html>
<html lang="es-AR">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'kits_management/styles.css' %}">
	</head>

	<body>
		<div class="container-fluid">
        {% block cuerpo %}
        {% endblock cuerpo %}
		</div>
	</body>
</html>
